In [136]:
import pandas as pd

In [191]:
vocabolario = pd.read_csv('vocabolario_280k.txt', sep='\n', header=None, names=['words'])
verbi = pd.read_csv('coniugazione_verbi.txt', sep='\n', header=None, names=['words'])
verbi['words'] = verbi['words'].apply(lambda x: x.upper())

In [192]:
vocabolario.describe()

         words
count   279894
unique  279894
top          a
freq         1

In [193]:
verbi.describe()

           words
count     334953
unique    334953
top     ABALIENA
freq           1

In [194]:
import re
pattern = re.compile("[ÀÈÉÌÒ]")
d3 = verbi[verbi['words'].str.contains(pattern)]
d3.describe()

del_accents = d3.loc[:, ['words']]

# for each word in d3, replace the accented letter with the non-accented one
del_accents['words'] = d3['words'].apply(lambda x: x.replace('À', 'A').replace('È', 'E').replace('É', 'E').replace('Ì', 'I').replace('Ò', 'O'))

print("d3            ->   words:", d3['words'].count(), "    accented words:",  d3['words'].str.contains(re.compile("[ÀÁÈÉÌÍÒÓÙÚ]")).sum())
print("del_accents   ->   words:", del_accents['words'].count(), "    accented words:",  del_accents['words'].str.contains(re.compile("[ÀÁÈÉÌÍÒÓÙÚ]")).sum())

d3            ->   words: 23159     accented words: 23159
del_accents   ->   words: 23159     accented words: 0

In [195]:
# then add all new words to verbi
verbi = verbi.append(del_accents)
verbi.describe()

         words
count   358112
unique  351514
top      BALLO
freq         2

In [196]:
vocabolario_noverbi = vocabolario[~vocabolario['words'].isin(verbi['words'])]
vocabolario_noverbi.describe()

         words
count   279894
unique  279894
top          a
freq         1

In [200]:
vocabolario_noverbi.sample(20)

                  words
25144    appesantireste
241805      spicciolato
86295           fiatato
124157        laburiste
178287         pulitori
147004  neutralizzabile
93111          generavi
257597    tecnicizzasse
139018            mieta
168971           poponi
49693     bozzettistica
168136          polisti
249680        strettoie
51747            bubola
228599          shopper
201196         ripulivi
233595       soffrirono
89445       fotomodelli
45645       bicchierate
73296       dinoccolato

In [198]:
verbi[verbi['words'].str.contains(re.compile("TORNEA")).values]

Empty DataFrame
Columns: [words]
Index: []